extends layout

block content
  h1 #{title}: #{author.name}
  
  if !author.date_of_birth
    p No living dates provided

  else
    if !author.date_of_death 
      p #{author.date_of_birth_formatted} - Still living.
      
    else
     p #{author.date_of_birth_formatted} - #{author.date_of_death_formatted}

  hr

  if author_books.length

    p #[strong Delete the following books before attempting to delete this author.]


    h4 Books

    dl
    each book in author_books
      dt
        a(href=book.url) #{book.title}
      dd #{book.summary}

  else
    p Do you really want to delete this Author?

    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='authorid', required='true', value=author._id )

      button.btn.btn-danger(type='submit') Delete